
.mapboxgl-map{
  position: fixed !important;
  z-index: 1;
  top: 0px;
}
.App{
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

#top-container{
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}

#top-container .menu-tabs{
  z-index: 2;
}

#top-container .login{
  margin: 12px;
  z-index: 2;
  
}
#top-container .spacer{
  width:203px;
}

.mapboxgl-ctrl-geocoder{
  position:relative;
}
.mapboxgl-ctrl-geocoder--input{
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
  border-radius:10px;
}
.mapboxgl-ctrl-geocoder--icon-search{
  position: absolute;
  top: 9px;
  left: 8px;
}
.mapboxgl-ctrl-geocoder--button{
  position: absolute;
  background-color: transparent;
  border-width:0px;
  top: 7px;
  left: 160px;
}
.mapboxgl-ctrl-geocoder--icon-loading{
  position: absolute;
  top: 7px;
  left: 166px;
}

.suggestions-wrapper{
  top: 50px;
  width: 200px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.suggestions-wrapper li:hover {
  background-color: #c2c2c2;
  cursor: pointer;
}
.suggestions-wrapper ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-flow: column;
}
.mapboxgl-ctrl-geocoder--suggestion{
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.mapboxgl-ctrl-geocoder--suggestion-title{
  font-weight: 800;
  text-align: left;
}
.mapboxgl-ctrl-geocoder--suggestion-address{
  text-align: left;
}
.data-display-container{
 display: flex !important;
 justify-content: center;
 align-items: center;
 width: 100vw;
}
.data-display-card{
  width: 530px;
  z-index: 2;
}
.property-slider{
  height: 300px;
  width: 600px;
  gap: 20px;
  z-index: 2;
  display: flex !important;
  overflow: scroll;
  overflow-x: auto;

}
.property-card{
  flex: 0 0 auto;
  width: 300px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
